h1 {
    font-size: 75;
    background-color: gray;
    color:blue;
}
li {
    color:navy;
    font-size:20;
}

p {
    color:navy;
    font-size:20;
    word-wrap: break-word;
}

img{
    margin:auto;
    width:100%;
}

.parent{
    
    width:100%;
    display:flex;
    
}

.child{
    margin:1%;
    background-color: gray;
    padding: 1%;
    border-style:;
    border: 4px outset navy;
    flex:1;
    
}